SUCIO.ipynb 
# Folio en sucio para hacer pruebas generales
SUCIO_SALT&PEPPER.ipynb
# Folio en sucio para hacer pruebas con el ruido blanco y negro
SUCIO/
# Carpeta con datos en sucio
new_data/*
# Archivos generados recurriendo a las funciones diseñadas
